@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
Layout = "/Views/Shared/_EmptyLayout.cshtml";
}

<!-- micromodal -->
<script src="https://unpkg.com/micromodal/dist/micromodal.min.js" asp-append-version="true"></script>

<link type="text/css" rel="stylesheet" href="~/css/landingPage/landingPageMaster.css" />

<header>
    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3">
            <div class="container-fluid ps-0 pe-0">
                <a rel="keep-params" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logos/boostify.png">
                </a>
                <a rel="keep-params" class="d-flex d-md-none justify-content-center align-items-center" href="/users/signin">
                    <button class="button primary-button">@localizer["LogIn"]</button>
                </a>
                <div class="navbar-collapse collapse justify-content-end">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item">
                            <a rel="keep-params" class="nav-link text-dark" href="/users/signin">@localizer["LogIn"]</a>
                        </li>
                        <li class="nav-item">
                            <a href="/users/signup" rel="keep-params">
                                <button class="button primary-button">@localizer["SignUp"]</button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<div>
    @RenderBody()
</div>
<footer class="footer footer-holder">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 ps-0 pe-0 mb-4 mb-md-0">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <img class="footer-logo" src="~/images/logos/boostify-white.png">
                    <div class="d-flex align-items-center mt-3">
                        © 2020–2023 Boostify Solution
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-9">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <h5 class="fw-bold">@localizer["Accounts"]</h5>
                    <a class="fw-bold mb-2" style="color: white; text-decoration: underline;" href="/users/signin" rel="keep-params">@localizer["LogIn"]</a>
                    <a class="fw-bold" style="color: white; text-decoration: underline;" href="/users/signup" rel="keep-params">@localizer["SignUp"]</a>
                </div>
            </div>
        </div>
    </div>
</footer>

@section Scripts {
@RenderSection("Scripts", required: false)
}